/*

!.bash_profile
!.bashrc

!.gitconfig
!.gitconfig_local
!.githooks/
!.gitignore
!.gitignore_global

!/.config
/.config/*
!/.config/oh-my-zsh

!.oh-my-zsh

!/.vim
/.vim/*
!/.vim/plugged
!.vimrc

!.zshrc

!scripts/
