/*

!.bash_aliases
!.bash_profile
!.bashrc

!.gitconfig
!.gitconfig_local
!.githooks/
!.gitignore
!.gitignore_global

!/.config
/.config/*
!/.config/starship.toml

!.todo.cfg

!/.vim
/.vim/*
!/.vim/plugged
!.vimrc

!scripts/
