[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
	eol = lf
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[push]
	default = simple
	autoSetupRemote = true
[user]
	name = Avery Garmaise
	email = avery.garmaise@gmail.com
[checkout]
	guess = false
